body {
background-color: powderblue;
}

h1 {
text-align: center;
font-family: sans-serif;
}

h2 {
    font-family: sans-serif; Time;
    margin: 20px 30px 20px 50px;
}

div {
background-color: #7AC5CD;
width: 80%;
border-radius: 10px;
border-color: #BCD2EE;
margin: auto; 
max-height: 200%;}

img {
border-radius: 5px;
height: 150px;
border: 1px solid black;
margin: 0px 30px 20px 50px;
max-width: 100%;
}

p {
font-family: sans-serif; Time;
color: #2F4F4F;
margin: 0px 20px 0px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

ol {
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
}


span
{font-weight: bold;}

#List {
    font-family: sans-serif;
    color: #2F4F4F;
    margin: 0px 20px 0px 20px;
}
